<footer id="footer">
  <div class="container">
    <div class="footer">
      <section class="container footer">
        <div class="socialLinksGroup follow extended">
          <div class="sapdx-follow">
            <strong class="sapdx-label">Share &amp; Follow</strong>
            <ul class="sapdx-social-links-group">
              <li>
                <a href="#social-tab01" title="Facebook" target="_blank" class="opener">
                  <span class="icon-facebook">Facebook</span>
                </a>
                <div id="social-tab01" class="open-close js-slide-hidden">
                  <div class="social-content">
                    <span class="icon-facebook">Facebook</span>
                    <b>Join the conversation on Facebook</b>
                    <ul>
                      <li><a href="#" title="Share this page in Facebook">Share this page <span class="icon-arrow-right"></span></a></li>
                      <li><a href="http://www.sap.com/communities/hub/facebook.html" title="Follow all of SAP in Facebook">Follow all of SAP <span class="icon-arrow-right"></span></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="#social-tab02" title="Twitter" target="_blank" class="opener">
                  <span class="icon-twitter02">Twitter</span>
                </a>
                <div id="social-tab02" class="open-close js-slide-hidden">
                  <div class="social-content">
                    <span class="icon-twitter02">Twitter</span>
                    <b>Join the conversation on Twitter</b>
                    <ul>
                      <li><a href="#" title="Share this page in Twitter">Share this page <span class="icon-arrow-right"></span></a></li>
                      <li><a href="#">Follow SAP Retail <span class="icon-arrow-right"></span></a></li>
                      <li><a href="http://www.sap.com/communities/hub/twitter.html" title="Follow all of SAP in Twitter">Follow all of SAP <span class="icon-arrow-right"></span></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="#social-tab03" title="YouTube" target="_blank" class="opener">
                  <span class="icon-youtube">YouTube</span>
                </a>
                <div id="social-tab03" class="open-close js-slide-hidden">
                  <div class="social-content">
                    <span class="icon-youtube">YouTube</span>
                    <b>Subscribe to the YouTube Channel</b>
                    <ul>
                      <li><a href="http://www.sap.com/communities/hub/youtube.html">Subscribe to SAP <span class="icon-arrow-right"></span></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="#social-tab04" title="LinkedIn" target="_blank" class="opener">
                  <span class="icon-linked-in">LinkedIn</span>
                </a>
                <div id="social-tab04" class="open-close js-slide-hidden">
                  <div class="social-content">
                    <span class="icon-linked-in">LinkedIn</span>
                    <b>Join the conversation on LinkedIn</b>
                    <ul>
                      <li><a href="#" title="Share this page in LinkedIn">Share this page <span class="icon-arrow-right"></span></a></li>
                      <li><a href="http://www.sap.com/communities/hub/linkedin.html" title="Follow all of SAP in LinkedIn">Follow all of SAP <span class="icon-arrow-right"></span></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="#social-tab05" title="Google+" target="_blank" class="opener">
                  <span class="icon-google-plus">Google+</span>
                </a>
                <div id="social-tab05" class="open-close js-slide-hidden">
                  <div class="social-content">
                    <span class="icon-google-plus">Google+</span>
                    <b>Join the conversation on Google+</b>
                    <ul>
                      <li><a href="#" title="Share this page in Google+">Share this page <span class="icon-arrow-right"></span></a></li>
                      <li><a href="http://www.sap.com/communities/hub/facebook.html" title="Follow all of SAP in Google+">Follow all of SAP <span class="icon-arrow-right"></span></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="#social-tab06" title="Slideshare" target="_blank" class="opener">
                  <span class="icon-slideshare"><span>Slideshare</span></span>
                </a>
                <div id="social-tab06" class="open-close js-slide-hidden">
                  <div class="social-content">
                    <span class="icon-slideshare alt"><span>Slideshare</span></span>
                    <b>View the latest presentations on Slideshare</b>
                    <ul>
                      <li><a href="#">View our slides <span class="icon-arrow-right"></span></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="mailto:tester@revtesting.com" title="Contact" target="_blank" class="link">
                  <span class="icon-message02">Contact</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footerNavGroup">
          <!-- countryselector Component FlayOut -->
          <div class="countryselector">
            <div class="js-slide-hidden" id="country-flayout">
              <div class="country-flayout-body">
                <h2 class="countryselector-title">Choose your country or region</h2>
                <ul class="countryselector-regions list-unstyled">
                  <li class="col-creator">
                    <ul class="list-unstyled">
                      <li class="countryselector-col">
                        <h3>Americas</h3>
                        <div class="countryselector-content">
                          <ul class="countryselector-countries list-unstyled" title="Country/region starting with B">
                            <li><a href="http://www.sap.com/">Brasil</a></li>
                            <li><a href="http://www.sap.com/">Canada - English</a></li>
                            <li><a href="http://www.sap.com/">Canada - Français</a></li>
                            <li><a href="http://www.sap.com/">Latinoamérica</a></li>
                            <li><a href="http://www.sap.com/">México</a></li>
                            <li><a href="http://www.sap.com/index.html">United States</a></li>
                          </ul>
                        </div>
                      </li>
                      <li class="countryselector-col">
                        <h3>Asia Pacific</h3>
                        <div class="countryselector-content">
                          <ul class="countryselector-countries list-unstyled" title="Country/region starting with A">
                            <li><a href="http://www.sap.com/">Australia</a></li>
                            <li><a href="http://www.sap.com/">中国</a></li>
                            <li><a href="http://www.sap.com/">Hong Kong - English</a></li>
                            <li><a href="http://www.sap.com/">香港</a></li>
                            <li><a href="http://www.sap.com/">Indonesia</a></li>
                            <li><a href="http://www.sap.com/">日本</a></li>
                            <li><a href="http://www.sap.com/">Malaysia</a></li>
                            <li><a href="http://www.sap.com/">New Zealand</a></li>
                            <li><a href="http://www.sap.com/">Philippines</a></li>
                            <li><a href="http://www.sap.com/">Singapore</a></li>
                            <li><a href="http://www.sap.com/">台灣</a></li>
                            <li><a href="http://www.sap.com/">Vietnam</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="col-creator">
                    <ul class="list-unstyled">
                      <li class="countryselector-col">
                        <h3>Europe</h3>
                        <div class="countryselector-content">
                          <ul class="countryselector-countries list-unstyled" title="Country/region starting with B">
                            <li><a href="http://www.sap.com/">België</a></li>
                            <li><a href="http://www.sap.com/">Belgique</a></li>
                            <li><a href="http://www.sap.com/">България</a></li>
                            <li><a href="http://www.sap.com/">Česká republika</a></li>
                            <li><a href="http://www.sap.com/">Danmark</a></li>
                            <li><a href="http://www.sap.com/">Deutschland</a></li>
                            <li><a href="http://www.sap.com/">Eesti</a></li>
                            <li><a href="http://www.sap.com/">España</a></li>
                            <li><a href="http://www.sap.com/">France</a></li>
                          </ul>
                          <ul class="countryselector-countries list-unstyled" title="Country/region starting with Ε">
                            <li><a href="http://www.sap.com/">Ελλάδα</a></li>
                            <li><a href="http://www.sap.com/">Ireland</a></li>
                            <li><a href="http://www.sap.com/">Italia</a></li>
                            <li><a href="http://www.sap.com/">Latvija</a></li>
                            <li><a href="http://www.sap.com/">Luxembourg</a></li>
                            <li><a href="http://www.sap.com/">Macedonia</a></li>
                            <li><a href="http://www.sap.com/">Moldova</a></li>
                            <li><a href="http://www.sap.com/">Montenegro</a></li>
                            <li><a href="http://www.sap.com/">Nederland</a></li>
                          </ul>
                          <ul class="countryselector-countries list-unstyled" title="Country/region starting with N">
                            <li><a href="http://www.sap.com/">Norge</a></li>
                            <li><a href="http://www.sap.com/">Polska</a></li>
                            <li><a href="http://www.sap.com/">Portugal</a></li>
                            <li><a href="http://www.sap.com/">România</a></li>
                            <li><a href="http://www.sap.com/">Россия</a></li>
                            <li><a href="http://www.sap.com/">Slovensko</a></li>
                            <li><a href="http://www.sap.com/">Slovenia</a></li>
                            <li><a href="http://www.sap.com/">Türkiye</a></li>
                            <li><a href="http://www.sap.com/">United Kingdom</a></li>
                          </ul>
                        </div>
                      </li>
                      <li class="countryselector-col">
                        <h3>Middle East, Africa, and India</h3>
                        <div class="countryselector-content">
                          <ul class="countryselector-countries list-unstyled" title="Country/region starting with A">
                            <li><a href="http://www.sap.com/">Armenia</a></li>
                            <li><a href="http://www.sap.com/">Bahrain</a></li>
                            <li><a href="http://www.sap.com/">Botswana</a></li>
                            <li><a href="http://www.sap.com/">Cameroun</a></li>
                            <li><a href="http://www.sap.com/">République Centrafricaine</a></li>
                            <li><a href="http://www.sap.com/">Côte d’Ivoire</a></li>
                            <li><a href="http://www.sap.com/">Egypt</a></li>
                            <li><a href="http://www.sap.com/">Guinea-Bissau</a></li>
                            <li><a href="http://www.sap.com/">Guinée</a></li>
                            <li><a href="http://www.sap.com/">Guinée Equatoriale</a></li>
                          </ul>
                          <ul class="countryselector-countries list-unstyled" title="Country/region starting with I">
                            <li><a href="http://www.sap.com/">India</a></li>
                            <li><a href="http://www.sap.com/">Israel</a></li>
                            <li><a href="http://www.sap.com/">Jordan</a></li>
                            <li><a href="http://www.sap.com/">Kenya</a></li>
                            <li><a href="http://www.sap.com/">Kuwait</a></li>
                            <li><a href="http://www.sap.com/">Madagascar</a></li>
                            <li><a href="http://www.sap.com/">Mali</a></li>
                            <li><a href="http://www.sap.com/">Maroc</a></li>
                            <li><a href="http://www.sap.com/">Maurice</a></li>
                            <li><a href="http://www.sap.com/">Mozambique</a></li>
                          </ul>
                          <ul class="countryselector-countries list-unstyled" title="Country/region starting with N">
                            <li><a href="http://www.sap.com/">Niger</a></li>
                            <li><a href="http://www.sap.com/">Nigeria</a></li>
                            <li><a href="http://www.sap.com/">Oman</a></li>
                            <li><a href="http://www.sap.com/">Qatar</a></li>
                            <li><a href="http://www.sap.com/">Saudi Arabia</a></li>
                            <li><a href="http://www.sap.com/">Sénégal</a></li>
                            <li><a href="http://www.sap.com/">South Africa</a></li>
                            <li><a href="http://www.sap.com/">Tunisie</a></li>
                            <li><a href="http://www.sap.com/">Uganda</a></li>
                            <li><a href="http://www.sap.com/">United Arab Emirates</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="countryselector-btn">
              <button id="countryselector-action">
                <span data-picture="" data-alt="image description">
                  <span data-src="{{ site.baseurl }}/assets/hana-data_files/us-flag.png"><img src="{{ site.baseurl }}/assets/hana-data_files/us-flag.png" alt="image description"></span>
                  <span data-width="24" data-height="24" data-src="{{ site.baseurl }}/assets/hana-data_files/us-flag@2x.png" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
                  <!--[if (lt IE 9) & (!IEMobile)]>
                    <span data-src="./images/us-flag.png"></span>
                  <![endif]-->
                  <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                  <noscript><img src="{{ site.baseurl }}/assets/hana-data_files/us-flag.png" alt="US" width="24" height="24"></noscript>
                </span>
                <span id="selectCountry">United States</span>
                <span class="icon-arrow-up"></span>
              </button>
            </div>
          </div>
          <span class="copyright">© 2014 SAP SE</span>
          <div class="menu">
            <ul>
              <li class="odd">
                <div class="legalContentHolder">
                  <a class="standard opener" href="#" target="_self"><em>Legal</em> <span class="icon-arrow-up"></span></a>
                  <div class="legalContent js-slide-hidden">
                    <ul>
                      <li><a href="http://www.sap.com/about/legal/privacy.html">Privacy</a></li>
                      <li><a href="http://www.sap.com/corporate-en/about/legal/terms-of-use.html" accesskey="8">Terms of Use</a></li>
                      <li><a href="http://www.sap.com/about/legal/impressum.html">Legal Disclosure</a></li>
                      <li><a href="http://www.sap.com/about/legal/copyright.html">Copyright</a></li>
                      <li><a href="http://www.sap.com/about/legal/copyright.html#trademark">Trademark</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a class="standard" href="#" title="Sitemap" target="_self" accesskey="3"><em>Sitemap</em></a>
              </li>
              <li class="odd">
                <a class="textView" href="#" title="TextView" target="_self"><em>Text View</em></a>
              </li>
              <li>
                <a class="standard" href="http://www.sap.com/careers/index.html" target="_self"><em>Careers</em></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>
