<header id="header">
  <div class="container">
    <div class="header-holder">
      <h1 class="logo">
        <a href="http://go.sap.com/index.html">
          <span data-picture="" data-alt="SAP">
            <span data-src="/assets/hana-data_files/header-logo.png"><img src="/assets/hana-data_files/header-logo.png" alt="SAP"></span>
            <span data-width="72" data-height="36" data-src="/assets/hana-data_files/header-logo@2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)"></span>
            <!--[if (lt IE 9) & (!IEMobile)]>
              <span data-src="./images/header-logo.png"></span>
            <![endif]-->
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript><img src="/assets/hana-data_files/header-logo.png" alt="SAP" width="72" height="36"></noscript>
          </span>
        </a>
      </h1>
      <nav class="mainNavigation">
        <a class="nav-opener mobile-btn" href="#" title="Open navigation">
          <span class="text">Open navigation</span>
          <span class="icon-menu"></span>
        </a>
        <div class="nav-block">
          <form class="nav-search" action="#">
            <div class="search-field">
              <input title="search" type="search">
              <span class="icon-search02"><input value="Go" type="submit"></span>
            </div>
          </form>
          <ul class="nav-area">
            <li class="home"><a href="http://go.sap.com/index.html"><em>Home</em></a></li>
            <li class="has-drop">
              <a href="#"><em>Solutions</em> <span class="icon-arrow-down"></span></a>
              <div class="drop-area">
                <div style="height: 432px; width: 244px; position: absolute; overflow: hidden; top: auto; left: auto; display: none;" class="drop-slide-wrapper"><div style="position: static; display: block; top: auto; left: auto; margin-top: -432px;" class="drop-wrapper">
                  <div class="drop-holder">
                    <ul>
                      <li><a href="http://go.sap.com/solution.html" title="Solutions Overview"><em>Overview</em></a></li>
                    </ul>
                  </div>
                </div></div>
              </div>
            </li>
            <li class=""><a href="http://go.sap.com/support.html"><em>Support</em></a></li>
            <li class=""><a href="http://go.sap.com/training-certification.html"><em>Training</em></a></li>
            <li class=""><a href="http://go.sap.com/partner.html"><em>Partner</em></a></li>
            <li class=""><a href="http://go.sap.com/community.html"><em>Community</em></a></li>
            <li class=""><a href="http://go.sap.com/developer.html"><em>Developer</em></a></li>
            <li class=""><a href="http://go.sap.com/about.html"><em>About</em></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
