<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SAP</title>
	<link media="all" rel="stylesheet" href="{{ site.baseurl }}/assets/hana-data_files/all.css">
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery-1.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/picturefill.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_003.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_002.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_011.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_004.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_010.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_005.js"></script><style type="text/css">.js-slide-hidden{position:absolute !important;left:-9999px !important;top:-9999px !important;display:block !important}</style>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_008.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_009.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_007.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_013.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_014.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_012.js"></script><style type="text/css">.js-tab-hidden{position:absolute !important;left:-9999px !important;top:-9999px !important;display:block !important}</style>
	<script src="{{ site.baseurl }}/assets/hana-data_files/prism.js"></script>
	<script src="{{ site.baseurl }}/assets/hana-data_files/jquery_006.js"></script>
</head>
<body>
	<div id="page">
		<b class="accessibility"><a href="#main" tabindex="0" accesskey="S">Skip to Content</a></b>
		{% include header.html %}
		<div id="main">
			<div class="container">
				{{ content }}
			</div>
		</div>
		{% include footer.html %}
		<b class="accessibility"><a href="#page">Back to top</a></b>
	</div>

<iframe style="width: 100em; height: 10px; position: absolute; border-width: 0px; top: -9999px; left: -9999px;" class="font-resize-helper" id="font-resize-frame-248"></iframe></body></html>
